torch
torchvision
torchaudio
opencv-python
numpy
pandas
matplotlib
seaborn
plotly
scikit-learn
openpyxl
xlsxwriter
scipy
tqdm
pillow
albumentations
torchsummary
graphviz
kaleido
notebook
jupyterlab
ipywidgets
